{% extends "layout.html" %}

{% block content %}

<div class="border border primary w-50 p-3" style="background-color: rgb(211, 240, 220); margin: auto; margin-top: 120px">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <label class="h3" for="title">Admin</label>

        <form>
            <div class="form-row">
              <div class="col">
                <label class="my-2 mr-2" for="inlineFormCustomSelectPref">Add Role</label>
              </div>
              <div class="col-7">
                {{ form.role(class="form-control my-1") }}
              </div>
              <div class="col">
                <button type="submit" class="btn btn-primary my-1" name="submit_button" value="AddRole">Submit</button>
              </div>
            </div>

            <div class="form-row">
              <div class="col">
                <label class="my-2 mr-2" for="inlineFormCustomSelectPref">Add Level</label>
              </div>
              <div class="col-7">
                {{ form.level(class="form-control my-1") }}
              </div>
              <div class="col">
                <button type="submit" class="btn btn-primary my-1" name="submit_button" value="AddLevel">Submit</button>
              </div>
            </div>

            <div class="form-row">
              <div class="col">
                <label class="my-2 mr-2" for="inlineFormCustomSelectPref">Add Interest</label>
              </div>
              <div class="col-7">
                {{ form.interest(class="form-control my-1") }}
              </div>
              <div class="col">
                <button type="submit" class="btn btn-primary my-1" name="submit_button" value="AddInterest">Submit</button>
              </div>
            </div>

            <div class="form-row">
              <div class="col">
                <label class="my-2 mr-2" for="inlineFormCustomSelectPref">Edit Training</label>
              </div>
              <div class="col-7">
                {{ form.training(class="form-control my-1") }}
              </div>
              <div class="col">
                <button type="submit" class="btn btn-primary my-1" name="submit_button" value="Trainlist">Edit</button>
              </div>
            </div>
        </form>

    </form>
</div>


{% endblock content %}