{% extends "layout.html" %}

{% block content %}

<div style="margin-top: 60px"></div>


  {% for record in records %}

    <div class="card border-secondary mx-auto mb-3" style="max-width: 38rem;">

      <div class="card-header">
        <div class="d-flex bd-highlight mb-3">
          <div class="mr-auto p-2 bd-highlight">{{ record.title }}</div>
          <div class="p-2 bd-highlight">{{ record.date_taken }}</div>
        </div>
      </div>


      <div class="card-body text-secondary">
      <h5 class="card-title">{{ record.provider }}</h5>
      <p class="card-text">{{ record.review }}</p>
        <div class="d-flex bd-highlight mb-3">
          <div class="mr-auto p-2 bd-highlight">
          {% if record.rating == '1' %} Definitely wouldn't recommend  
          {% elif record.rating == '2' %} Wouldn't recommend
          {% elif record.rating == '3' %} Neutral
          {% elif record.rating == '4' %} Would recommend
          {% elif record.rating == '5' %} Definitely would recommend
          {% endif %}
          </div>
          <div class="p-2 bd-highlight">
          <a href="{{ url_for('train_edit', train_id=record.id) }}" class="btn btn-light" role="edit" >Edit</a>
          </div>
        </div>
      </div>
      
    </div>

  {% endfor %}

{% endblock content %}