{% extends "layout.html" %}

{% block content %}

<div class="border border primary" style="background-color: rgb(211, 240, 220); margin: auto; margin-top: 60px; width:1000px ">

    <table class="table table-striped table-bordered">
        <col style="width:15%">
        <col style="width:15%">
        <col style="width:15%">
        <col style="width:30%">
        <col style="width:15%">
        <col style="width:10%">
        <thead>
          <tr>
            <th scope="col">Provider</th>
            <th scope="col">Title</th>
            <th scope="col">Rating</th>
            <th scope="col">Review</th>
            <th scope="col">Date Taken</th>
            <th scope="col">Edit</th>
          </tr>
        </thead>

        <tbody>
            {% for record in records %}
              <tr>
                <!-- Loop each CV field -->
 
                <td> {{ record.provider }} </td>
                <td> {{ record.title }} </td>
                <td> {% if record.rating == '1' %} Definitely wouldn't recommend  
                     {% elif record.rating == '2' %} Wouldn't recommend
                     {% elif record.rating == '3' %} Neutral
                     {% elif record.rating == '4' %} Would recommend
                     {% elif record.rating == '5' %} Definitely would recommend
                    {% endif %}  </td>
                
                <td> {{ record.review }} </td>
                <td> {{ record.date_taken.strftime('%d-%m-%Y') }} </td>
                <td> Edit </td>
              </tr>     
            {% endfor %}
          </tbody>

      </table>

</div>

{% endblock content %}