{% extends "layout.html" %}
{% block content %}

<div class="border border primary w-50 p-3" style="background-color: rgb(211, 240, 220); margin: auto; margin-top: 120px">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <label class="h3" for="title">Log Training</label>
        
        <div class="form-group">
            {{ form.provider.label(class="form-control-label") }}
            {% if form.provider.errors %}
                {{ form.provider(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.provider.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.provider(class="form-control") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.title.label(class="form-control-label") }}
            {% if form.title.errors %}
                {{ form.title(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.title.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.title(class="form-control") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.date_taken.label(class="form-control-label") }}
            {% if form.date_taken.errors %}
                {{ form.date_taken(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.date_taken.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.date_taken(class="form-control") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.rating.label(class="form-control-label") }}
            {% if form.rating.errors %}
                {{ form.rating(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.rating.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.rating(class="form-control") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.review.label(class="form-control-label") }}
            {% if form.review.errors %}
                {{ form.review(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.review.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.review(class="form-control") }}
            {% endif %}
        </div>

        <button type="submit" class="btn btn-success">Submit</button>

    </form>
</div>

{% endblock content %}