{% extends "layout.html" %}
{% block content %}

<div class="border border primary w-50 p-3" style="background-color: rgb(211, 240, 220); margin: auto; margin-top: 80px">
  <form method="POST" action="">
    {{ form.hidden_tag() }}  
        <label class="h3" for="title">Profile</label>

        <div class="form-group">
          {{ form.username.label(class="form-control-label") }}
          {% if form.username.errors %}
              {{ form.username(class="form-control is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.username.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
          {% else %}
              {{ form.username(class="form-control") }}
          {% endif %}
        </div>

        <div class="form-group">
          {{ form.role.label(class="form-control-label") }}
          {% if form.role.errors %}
              {{ form.role(class="form-control is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.role.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
          {% else %}
              {{ form.role(class="form-control") }}
          {% endif %}
        </div>

        <div class="form-group">
          {{ form.level.label(class="form-control-label") }}
          {% if form.level.errors %}
              {{ form.level(class="form-control is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.level.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
          {% else %}
              {{ form.level(class="form-control") }}
          {% endif %}
        </div>

        <label class="h3 pb-2" for="title">Interests</label>

        <div class="accordion" id="accordionExample">
            {% for discipline in alldisciplines %}

            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        {{ discipline.name  }}
                    </button>
                    </h2>
                </div>
                
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="container">
                        <div class="row">
                          {% for interest in allinterests %}
                            {% if interest.discipline == discipline.id %}
                            <div class="col-sm">
                              <div class="form-check">
                                {% if interest in userinterests %}
                                <input class="form-check-input" type="checkbox" name="interests" checked value ={{ interest.id  }}>
                                {% else %}
                                <input class="form-check-input" type="checkbox" name="interests" value ={{ interest.id  }}>
                                {% endif %}
                                <label class="form-check-label" for="defaultCheck1"> {{ interest.name }} </label>
                              </div>
                            </div>
                            {% endif %}
                          {% endfor %}
                        </div>
                    </div>
                </div>
                
            </div>
            {% endfor %}
        </div>

        <button type="submit" class="btn btn-success mt-3">Submit</button>

    </form>
</div>

{% endblock content %}