{% extends "layout.html" %}
{% block content %}

<div class="border border primary w-50 p-3" style="background-color: rgb(211, 240, 220); margin: auto; margin-top: 120px">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <label class="h3" for="title">Sign Up</label>

        <div class="form-group">
            {{ form.email.label(class="form-control-label") }}
            {% if form.email.errors %}
                {{ form.email(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.email(class="form-control form-control-lg") }}
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.role.label(class="form-control-label") }}
            {% if form.role.errors %}
                {{ form.role(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.role.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.role(class="form-control") }}
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.level.label(class="form-control-label") }}
            {% if form.level.errors %}
                {{ form.level(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.level.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.level(class="form-control") }}
            {% endif %}
        </div>
 
        <button type="submit" class="btn btn-success">Sign Up</button>
        <small id="signup" class="form-text text-muted">Already have an account? <a class="ml-2" href="{{ url_for('login') }}">Login Now</a></small>



    </form>
</div>

{% endblock content %}